/old
my-bib-db.html
my-bib-db_bib.html
workgroup
weggehaald.txt

clojuredictaat.html

#clojuredictaat.org#
.#clojuredictaat.org



plots/plot1-inc.eps

plots/plot1.aux

plots/plot1.dvi

plots/plot1.log

plots/plot1.png

plots/plot1.tex

plots/texput.log

auto/clojuredictaat.el

clojuredictaat.pdf

clojuredictaat.tex

auto/my-bib-db.el

practicum.html

#dictaat.org#

#dictaat.org#

deploy

*.html

auto/dictaat.el

*.aux

*.doc

*.log

*.odt

*.out

*.pdf

*.pyg

*.tex

*.toc
